<IfModule mod_rewrite.c>
    RewriteEngine On
    RewriteBase /dubon/

    # 1. Se acessar a raiz do site (/dubon/), redireciona internamente para a pasta public
    RewriteRule ^$ public/index.php [L]

    # 2. Se o arquivo ou pasta NÃO existir na raiz (ex: /dubon/clientes), manda para public
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteRule ^(.*)$ public/$1 [L]
</IfModule>